<h1 class="text-center mb-4 mt-4">La Team du Zeuuuutrei !</h1>

    <div class="container text-left">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: auto">
            <%=image_tag("fred.jpg", alt: "Example image")%>
            <div class="card-body">
              <p class="card-text">
                Element clé a ce projet
              </p>
              <cite title="Source Title">Fred, 1990.</cite>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: auto">
            <%=image_tag("melvin.jpg", alt: "Example image")%>
            <div class="card-body">
              <p class="card-text">
                Figurant
              </p>
              <cite title="Source Title">Melvin, 1990.</cite>
            </div>
          </div>
        </div>
      </div>
    </div>